<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Beawelry reinvents the traditional perception of jewelry; from precious and valuable material to object of emotional representation. We strive to provide the most warming and beautiful experience of giving, receiving, and wearing">
    <meta name="author" content="Beawelry">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title>Beawelry wishes to help you express your emotions to your loved ones for all your special occasions</title>

    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="superslides/dist/stylesheets/superslides.css">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    <div class="brand">
        <div class="container">
            <a href="index.html"><img src="/asssets/images/beawelry_logo_02.png"></a>
        </div>
    </div>
    <nav class="menu">
        <div class="container">
             <ul class="navbar-nav">
                    <li >
                        <a href="about.html">our story</a>
                    </li>
                    <li>
                        <a href="jewelry.html">jewelry</a>
                    </li>
                    <li>
                        <a href="beawelry_bear.html">beawelry bear</a>
                    </li>
                    <li class="active">
                        <a href="personalisation.html">personalisation</a>
                    </li>
                    <li>
                        <a href="gifts.html">gifts</a>
                    </li>
                    <li>
                        <a href="store_location.html">store location</a>
                    </li>
                </ul>
        </div>
    </nav>
    
    <section class="bear_wrapper">
        <div class="container">
            <div class="box_headder">
                <h2>EXCLUSIVITY</h2>
                <p>We want to ensure that every product you purchase with us is uniquely and<br/>
                    truly made for you. With our new laser engraving technology; you can have a<br/>
                    product that is exclusively yours within minutes. We invite you to join us at<br/>
                    our store to experience our new personalisation software which allows you to<br/>
                    record any message onto our signature premium envelope charms and rings.</p>
            </div>
            <div class="row">
                <div class="two_tree_columns box_height_380">
                    <img class="img-responsive" src="/asssets/images/beawelry_envelope_personalisation.jpg">
                </div>
                <div class="one_tree_columns background_pink box_height_380"> 
                    <div class="box_detail text-center">
                            <h3 class="magin_t_55">ENVELOPE&nbsp PERSONALISATION</h3>
                            <hr class="magin_tb_35">
                            <p>
                                Customers will have the option to either pick<br/>
                                designs from our catalogue designs or<br/>
                                personalise their own messege through our<br/>
                                envelope personalisation program.
                            </p>
                            <hr class="magin_tb_35">
                            <a href="jewelry.html" ><button>visit our store</button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="one_tree_columns background_pink box_height_380"> 
                    <div class="box_detail text-center">
                            <h3 class="magin_t_55">RING&nbsp PERSONALISATION</h3>
                            <hr class="magin_tb_35">
                            <p>
                                We have provided an exclusivity for all<br/>
                                customers to do personalised laser<br/>
                                engravements on our rings through our<br/>
                                personalisation program in our store front.
                            </p>
                            <hr class="magin_tb_35">
                            <a href="jewelry.html" ><button>visit our store</button></a>
                    </div>
                </div>
                <div class="two_tree_columns box_height_380">
                    <img class="img-responsive" src="/asssets/images/beawelry_ring_personalisation.jpg">
                </div>
            </div>
            
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="footer">
                <div class="copyright">
                    beawelry ® 2015 ©  
                </div>

                <div class="">
                    <ul class="link-footer">
                        <li><a href="about.html">about us</a></li>
                        <li><a href="terms_policies.html">terms & policies</a></li>
                        <li><a href="store_location.html">contact</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="social-footer">
                        <li>
                            <a href="https://www.facebook.com/Beawelry" target="_blank" title="Beawelry's facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com/beawelry" title="Beawelry's instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 
    <script src="js/jquery-1.11.0.js"></script>-->

    <script src="assets/js/jquery-3.1.1.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.animate-enhanced.min.js"></script>
    <script src="superslides/dist/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#slides').superslides({
          animation: 'fade'
        });
    </script>

</body>

</html>
