<!-- <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Beawelry reinvents the traditional perception of jewelry; from precious and valuable material to object of emotional representation. We strive to provide the most warming and beautiful experience of giving, receiving, and wearing">
  <meta name="author" content="Beawelry">

  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <title>Beawelry wishes to help you express your emotions to your loved ones for all your special occasions</title>

  <!-- CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style_mobile.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="superslides/dist/stylesheets/superslides.css">
  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    </head>

    <body>

      <div class="brand">
        <div class="container">
          <a href="index.html"><img src="/assets/images/beawelry_logo_02.png"></a>
        </div>
      </div>

      <menu>
        <ul>
          <li>
            <a href="jewelry.html">Product</a>
          </li>
          <li>
            <a href="personalisation.html">My personalisation</a>
          </li>
          <li>
            <a href="store_location.html">Contact Us</a>
          </li>
        </ul>
      </menu>
      <nav class="menu">
        <div class="container">
         <ul class="navbar-nav">
          <li>
            <a href="jewelry.html">Product</a>
          </li>
          <li>
            <a href="personalisation.html">My personalisation</a>
          </li>
          <li>
            <a href="store_location.html">Contact Us</a>
          </li>
        </ul>

        <div class="mobile-menu">
         <span class="menu-anchor"></span>
         <span class="menu-text">Menu</span>
       </div>
     </div>
   </nav>

   <section class="container">        
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="pagination" style="margin-left: -90px; margin-top: 10px;">
          <a href="#"><i class="fa fa-caret-left"></i></a>
          <select class="select_design text-center">
            <option value="0">SELECT DESIGN #</option>
            <option value="1">anniversary</option>
            <option value="2">beawelry classic</option>
            <option value="3">birthday</option>
            <option value="4">couple</option>
            <option value="5">encouragement</option>
            <option value="6">graduation</option>
            <option value="7">new born</option>
            <option value="8">sorry</option>
            <option value="9">wedding & engagement</option>
          </select>
          <a href="#"><i class="fa fa-caret-right"></i></a>
        </div>
        <div class="nav-bg">
          <img src="/assets/images/show.png" style="width: 100%; height: auto; margin-top: -20px; 
          margin-bottom: -10px;">
        </div>

        <div class="tool-menu text-center" style="margin-top: 20px; margin-bottom: -40px;">
          <div class="box_3" style="position: relative; top: 30px; left: -130px;">
            <button class="btn-re">RESET</button>
          </div>
          
          <div class="box_3" style="position: relative; top: -18px; left: -10px;">
           <img src="/assets/images/frontview.png" style="width: 60px; height: auto;">
           <br>
           <div class="popup" onclick="myFunction()">FRONT VIEW
             <span class="popuptext" id="myPopup">A Simple Popup!</span>
           </div>
         </div>

         <div class="box_3" style="position: relative; top: -65px; left: 120px;">
           <button class="btn-reun">UNDO</button>
           <button class="btn-reun">REDO</button>
         </div>

       </div>

     </div>
     <div class="canvas-bg"></div>
     <div class="tool-bg"></div>
   </section>

   <hr style="width: 100%; margin-top: 0px;"> 

   <div class="all-menu">
    <div class="col-xs-4" style="margin-bottom: 20px;">
      <button>
        <img src="/assets/images/logo1-active.png" style="width: auto; height: 50px;">
        FRAME
      </button>
    </div>
    <div class="col-xs-4" style="margin-bottom: 20px;">
      <button>
        <img src="/assets/images/logo2.png" style="width: auto; height: 50px;">
        TEXT
      </button>
    </div>
    <div class="col-xs-4" style="margin-bottom: 20px;">
      <button>
        <img src="/assets/images/logo3.png" style="width: auto; height: 50px;">
        STICKER
      </button>
    </div>
  </div>

  <hr style="width: 100%; margin-bottom: 20px;"> 

  <div class="col-xs-12">
    <div class="step" mode="1">
      <div class="accordion-group" id="accordion1">
        <!-- 1 -->
        <div class="accordion">
          <div class="titel" style="text-align: center;">ANNIVERSARY</div>
          <div class="panel">
            <div class="text-center">ANNIVERSARY</div>
            <hr style="margin-left: -20px; width: 110%;">
            <div class="col-xs-6 text-center">CUSTOMIZE DESIGNS</div>
            <div class="col-xs-6 text-center">FINISHED DESIGNS</div>
            <br>
            <hr style="width: 100%;">

            <div class="ex3">
              <!-- line 1 -->
              <div class="col-xs-6" style="margin-bottom: 20px;">
                <button class="btn-frame"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
              </div>
              <div class="col-xs-6" style="margin-bottom: 20px;">
                <button class="btn-frame"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0"></button>
              </div>

              <!-- line 2 -->
              <div class="col-xs-6" style="margin-bottom: 20px;">
                <button class="btn-frame"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
              </div>
              <div class="col-xs-6" style="margin-bottom: 20px;">
                <button class="btn-frame"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0"></button>
              </div>

              <!-- line 3 -->
              <div class="col-xs-6">
                <button class="btn-frame"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
              </div>
              <div class="col-xs-6">
                <button class="btn-frame"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0"></button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <hr style="width: 100%; margin-bottom: 20px;">


      <div class="col-xs-12 text-center" style="margin-top: 5px;">
        <p style="text-align: center;">STICKERS ADD-ONS</p>
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 2px;">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 11%; height: 50px; margin-right: 1px;">
        <hr style="width: 100%;">
      </div>

      <div class="ex3">
        <!-- line 1 -->
        <div class="col-xs-4" style="margin: 0 -1px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
       <div class="col-xs-4" style="margin: 0 -1px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
       <div class="col-xs-4" style="margin: 0 -1px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>

       <div class="col-xs-4" style="margin: 0 -1px; margin-top: 20px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
       <div class="col-xs-4" style="margin: 0 -1px; margin-top: 20px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
       <div class="col-xs-4" style="margin: 0 -1px; margin-top: 20px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>

       <div class="col-xs-4" style="margin: 0 -1px; margin-top: 20px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
       <div class="col-xs-4" style="margin: 0 -1px; margin-top: 20px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
       <div class="col-xs-4" style="margin: 0 -1px; margin-top: 20px;">
         <button class="btn-frame1"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png" style="width: 75%; height: 70px; margin: 10px 0;"></button>
       </div>
     </div>

     <hr style="width: 100%; margin-bottom: 20px;">


     <div class="all-menu">
      <div class="col-xs-6" style="margin-bottom: 20px;">
        <button class="btn-type text-center">LANGUAGE : EN&nbsp;&nbsp;<i class="fa fa-question-circle"></i></button>
      </div>
      <div class="col-xs-6" style="margin-bottom: 20px;">
        <button class="btn-type text-center"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEXT SIZE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle"></i></button>
      </div>
      <div class="col-xs-6" style="margin-bottom: 20px;">
        <button class="btn-type text-center">FONT : ABC</button>
      </div>
      <div class="col-xs-6" style="margin-bottom: 20px;">
        <button class="btn-type text-center"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;LETTER SPACE&nbsp;&nbsp;<i class="fa fa-plus-circle"></i></button>
      </div>
      <div class="col-xs-6" style="margin-bottom: 20px;">
       <button class="btn-type text-center"><i class="fa fa-align-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-align-center"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-align-right"></i></button>
     </div>
     <div class="col-xs-6" style="margin-bottom: 20px;">
      <button class="btn-type text-center"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LINE HEIGHT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle"></i></button>
    </div>
  </div>

  <hr style="width: 100%; margin-bottom: 20px;"> 


  <footer>
    <div class="container">
      <div class="footer">
        <div class="copyright">beawelry ® 2018 © </div>
        <div class="social_box">
          <ul class="social-footer">
            <li>
              <a href="https://www.facebook.com/Beawelry" target="_blank" title="Beawelry's facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/beawelry" title="Beawelry's instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

    <!-- jQuery Version 1.11.0 
      <script src="js/jquery-1.11.0.js"></script>-->

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/jquery.animate-enhanced.min.js"></script>
      <script src="superslides/dist/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
      <script src="css/accordion.js"></script>
      <script>
        $('#slides').superslides({
          animation: 'fade',
          animation_speed : 2000,
          play : 6000
        });
        var height_slide = ($(window).height() - $(".brand").height() - $("nav.menu").height() - $("footer").height()-31);
        $("#slides").css( { "height": height_slide + "px" } );

        $(document).ready(function(){
          $('.menu-anchor').on('click touchstart', function(e){
            $('html').toggleClass('menu-active');
            e.preventDefault();
          });
        });
      </script>
      <script>
        // When the user clicks on div, open the popup
        function myFunction() {
          var popup = document.getElementById("myPopup");
          popup.classList.toggle("show");
        }
      </script>

    </body>

    </html>