
    
    <footer>
        <div class="container">
            <div class="footer">
                <div class="copyright">beawelry ® 2015 © </div>
                <div class="social_box">
                    <ul class="social-footer">
                        <li>
                            <a href="https://www.facebook.com/BeawelryThailand/" target="_blank" title="Beawelry Thailand's facebook" target="_blank"> 
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/beawelrythailand/" title="Beawelry Thailand's instagram" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li style="border-right: 1px solid #ddd;">
                            <a href="https://www.facebook.com/Beawelry" target="_blank" title="Beawelry's facebook" target="_blank"> 
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com/beawelry" title="Beawelry's instagram" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>